<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruits</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bgnav">
        <div class="container-fluid">
            <img src="../static/Cart Logo/Food-Pantry-Logo.png" class="logo" alt="Not Found" height="100px" width="100px">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Fruits</a></li>
                  <li><a class="dropdown-item" href="#">Vegetables</a></li>
                  <li><a class="dropdown-item" href="#">Beverages</a></li>
                  <li><a class="dropdown-item" href="#">Snacks</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex searchdiv">
              <input class="form-control me-2 inpsearch" type="search" placeholder="What are you looking for?" aria-label="Search">
              <button class="btn  search" type="submit">Search</button>
            </form>
            <button style="font-size:20px" class="cart">Cart<i class="fa fa-shopping-cart "></i></button>
         </div>
        </div>
      </nav>
       

      <!--Main Section-->

      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <h1 class="text-center text-capitalize">Featured Products</h1>
              </div>
          </div>
    
          <hr>
        <div class="container-fluid">
          <div class="row">
              <div class="col-lg-3">
                <div class="card" style="width: 16rem;">
                    <img src="../static/Fruits/Mango.webp" class="card-img-top" alt="..." height="180px">
                    <hr>
                    <div class="card-body">
                      <h5 class="card-title">Mango</h5>
                      <p class="card-text">MRP : 1kg - 300Rs  <p>Quantity : <input type="number" name="mango" id="mango"></p></p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
              </div>
              <div class="col-lg-3">
                <div class="card" style="width: 16rem;">
                    <img src="../static/Fruits/Apple.webp" class="card-img-top" alt="..." height="180px">
                    <hr>
                    <div class="card-body">
                      <h5 class="card-title">Apple</h5>
                      <p class="card-text">MRP : 1kg - 200Rs  <p>Quantity : <input type="number" name="apple" id="apple"></p></p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
              </div>
              <div class="col-lg-3">
                <div class="card" style="width: 16rem;">
                    <img src="../static/Fruits/Guava.webp" class="card-img-top" alt="..." height="180px">
                    <hr>
                    <div class="card-body">
                      <h5 class="card-title">Guava</h5>
                      <p class="card-text">MRP : 1kg - 70Rs  <p>Quantity : <input type="number" name="guava" id="guava"></p></p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
              </div>
              <div class="col-lg-3">
                <div class="card" style="width: 16rem;">
                    <img src="../static/Fruits/Orange.webp" class="card-img-top" alt="..." height="180px">
                    <hr>
                    <div class="card-body">
                      <h5 class="card-title">Orange</h5>
                      <p class="card-text">MRP : 1kg - 50Rs  <p>Quantity : <input type="number" name="orange" id="orange"></p></p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
              </div>
          </div>
      </div>
      </div>



   <!--2nd Row -->
      <br>
      <div class="container">
    
      <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
              <div class="card" style="width: 16rem;">
                  <img src="../static/Fruits/Dragon Fruit.webp" class="card-img-top" alt="..." height="180px">
                  <hr>
                  <div class="card-body">
                    <h5 class="card-title">Dragon Fruit</h5>
                    <p class="card-text">MRP : 1kg - 300Rs  <p>Quantity : <input type="number" name="mango" id="mango"></p></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                  </div>
                </div>
            </div>
            <div class="col-lg-3">
              <div class="card" style="width: 16rem;">
                  <img src="../static/Fruits/Avocado.webp" class="card-img-top" alt="..." height="180px">
                  <hr>
                  <div class="card-body">
                    <h5 class="card-title">Avacado</h5>
                    <p class="card-text">MRP : 1kg - 200Rs  <p>Quantity : <input type="number" name="apple" id="apple"></p></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                  </div>
                </div>
            </div>
            <div class="col-lg-3">
              <div class="card" style="width: 16rem;">
                  <img src="../static/Fruits/Amla.webp" class="card-img-top" alt="..." height="180px">
                  <hr>
                  <div class="card-body">
                    <h5 class="card-title">Amla</h5>
                    <p class="card-text">MRP : 1kg - 70Rs  <p>Quantity : <input type="number" name="guava" id="guava"></p></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                  </div>
                </div>
            </div>
            <div class="col-lg-3">
              <div class="card" style="width: 16rem;">
                  <img src="../static/Fruits/Banana.webp" class="card-img-top" alt="..." height="180px">
                  <hr>
                  <div class="card-body">
                    <h5 class="card-title">Banana</h5>
                    <p class="card-text">MRP : 1kg - 50Rs  <p>Quantity : <input type="number" name="orange" id="orange"></p></p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
    </div>




    <!--3rd Row -->
    <br>
    <div class="container">
  
    <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3">
            <div class="card" style="width: 16rem;">
                <img src="../static/Fruits/Chiku.webp" class="card-img-top" alt="..." height="180px">
                <hr>
                <div class="card-body">
                  <h5 class="card-title">Chiku</h5>
                  <p class="card-text">MRP : 1kg - 300Rs  <p>Quantity : <input type="number" name="mango" id="mango"></p></p>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
          </div>
          <div class="col-lg-3">
            <div class="card" style="width: 16rem;">
                <img src="../static/Fruits/Coconut.webp" class="card-img-top" alt="..." height="180px">
                <hr>
                <div class="card-body">
                  <h5 class="card-title">Coconut</h5>
                  <p class="card-text">MRP : 1kg - 200Rs  <p>Quantity : <input type="number" name="apple" id="apple"></p></p>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
          </div>
          <div class="col-lg-3">
            <div class="card" style="width: 16rem;">
                <img src="../static/Fruits/Kiwi.webp" class="card-img-top" alt="..." height="180px">
                <hr>
                <div class="card-body">
                  <h5 class="card-title">Kiwi</h5>
                  <p class="card-text">MRP : 1kg - 70Rs  <p>Quantity : <input type="number" name="guava" id="guava"></p></p>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
          </div>
          <div class="col-lg-3">
            <div class="card" style="width: 16rem;">
                <img src="../static/Fruits/Raw Mango.webp" class="card-img-top" alt="..." height="180px">
                <hr>
                <div class="card-body">
                  <h5 class="card-title">Raw Mango</h5>
                  <p class="card-text">MRP : 1kg - 50Rs  <p>Quantity : <input type="number" name="orange" id="orange"></p></p>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
          </div>
      </div>
  </div>
  </div>





  <!--4th Row -->
  <br>
  <div class="container">

  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
          <div class="card" style="width: 16rem;">
              <img src="../static/Fruits/Pear.webp" class="card-img-top" alt="..." height="180px">
              <hr>
              <div class="card-body">
                <h5 class="card-title">Pear</h5>
                <p class="card-text">MRP : 1kg - 300Rs  <p>Quantity : <input type="number" name="mango" id="mango"></p></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
        </div>
        <div class="col-lg-3">
          <div class="card" style="width: 16rem;">
              <img src="../static/Fruits/Pineapple.webp" class="card-img-top" alt="..." height="180px">
              <hr>
              <div class="card-body">
                <h5 class="card-title">Pineapple</h5>
                <p class="card-text">MRP : 1kg - 200Rs  <p>Quantity : <input type="number" name="apple" id="apple"></p></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
        </div>
        <div class="col-lg-3">
          <div class="card" style="width: 16rem;">
              <img src="../static/Fruits/Watermelon.webp" class="card-img-top" alt="..." height="180px">
              <hr>
              <div class="card-body">
                <h5 class="card-title">Watermelon</h5>
                <p class="card-text">MRP : 1kg - 70Rs  <p>Quantity : <input type="number" name="guava" id="guava"></p></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
        </div>
        <div class="col-lg-3">
          <div class="card" style="width: 16rem;">
              <img src="../static/Fruits/Sweet Corn.webp" class="card-img-top" alt="..." height="180px">
              <hr>
              <div class="card-body">
                <h5 class="card-title">Sweet Corn</h5>
                <p class="card-text">MRP : 1kg - 50Rs  <p>Quantity : <input type="number" name="orange" id="orange"></p></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
        </div>
    </div>
</div>
</div>





<!--5th Row -->
  <br>
  <div class="container">

  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
          <div class="card" style="width: 16rem;">
              <img src="../static/Fruits/Papaya.webp" class="card-img-top" alt="..." height="180px">
              <hr>
              <div class="card-body">
                <h5 class="card-title">Papaya</h5>
                <p class="card-text">MRP : 1kg - 300Rs  <p>Quantity : <input type="number" name="mango" id="mango"></p></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
        </div>
        <div class="col-lg-3">
          <div class="card" style="width: 16rem;">
              <img src="../static/Fruits/Pomegranate.webp" class="card-img-top" alt="..." height="180px">
              <hr>
              <div class="card-body">
                <h5 class="card-title">Pomegranate</h5>
                <p class="card-text">MRP : 1kg - 200Rs  <p>Quantity : <input type="number" name="apple" id="apple"></p></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
        </div>
        <div class="col-lg-3">
          <div class="card" style="width: 16rem;">
              <img src="../static/Fruits/TenderCoconut.webp" class="card-img-top" alt="..." height="180px">
              <hr>
              <div class="card-body">
                <h5 class="card-title">Tender Coconut</h5>
                <p class="card-text">MRP : 1kg - 70Rs  <p>Quantity : <input type="number" name="guava" id="guava"></p></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
        </div>
        <div class="col-lg-3">
          <div class="card" style="width: 16rem;">
              <img src="../static/Fruits/Black Grapes.webp" class="card-img-top" alt="..." height="180px">
              <hr>
              <div class="card-body">
                <h5 class="card-title">Black Grapes</h5>
                <p class="card-text">MRP : 1kg - 50Rs  <p>Quantity : <input type="number" name="orange" id="orange"></p></p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>
            </div>
        </div>
    </div>
</div>
</div>



<!--6th Row -->
<br>
<div class="container">

<div class="container-fluid">
  <div class="row">
      <div class="col-lg-3">
        <div class="card" style="width: 16rem;">
            <img src="../static/Fruits/Grapes.webp" class="card-img-top" alt="..." height="180px">
            <hr>
            <div class="card-body">
              <h5 class="card-title">Black Grapes</h5>
              <p class="card-text">MRP : 1kg - 300Rs  <p>Quantity : <input type="number" name="mango" id="mango"></p></p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
      </div>
      <div class="col-lg-3">
        <div class="card" style="width: 16rem;">
            <img src="../static/Fruits/Grape Fruit.webp" class="card-img-top" alt="..." height="180px">
            <hr>
            <div class="card-body">
              <h5 class="card-title">Grape Fruit</h5>
              <p class="card-text">MRP : 1kg - 200Rs  <p>Quantity : <input type="number" name="apple" id="apple"></p></p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
      </div>
      <div class="col-lg-3">
        <div class="card" style="width: 16rem;">
            <img src="../static/Fruits/Muskmelon.webp" class="card-img-top" alt="..." height="180px">
            <hr>
            <div class="card-body">
              <h5 class="card-title">Muskmelon</h5>
              <p class="card-text">MRP : 1kg - 70Rs  <p>Quantity : <input type="number" name="guava" id="guava"></p></p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
      </div>
      <div class="col-lg-3">
        <div class="card" style="width: 16rem;">
            <img src="../static/Fruits/Passion Fruit.webp" class="card-img-top" alt="..." height="180px">
            <hr>
            <div class="card-body">
              <h5 class="card-title">Passion Fruit</h5>
              <p class="card-text">MRP : 1kg - 50Rs  <p>Quantity : <input type="number" name="orange" id="orange"></p></p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
      </div>
  </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
      

</body>
</html>