.bgnav{
    background-color: cornsilk;
}
.a2{
    background-color: cornsilk;
    border-style: none;
}
.cart{
    margin-right: 30px;
}
.searchdiv{
    margin-right: 150px;
}
.inpsearch{
    width: 600px;
}
.logo{
    margin-left: 30px;
}
.dropdown{
    margin-left: 45px;
}

.search{
    background-color: darkorange;
    color: white;
}
.search:hover {
    color: black;
}
.y{
    margin-right: 13px;
}